@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Inter', sans-serif;
  }
}

@layer utilities {
  .bg-burger {
    background-image: url("./burger.png");
  }
  .font-inter {
    font-family: var(--font-inter);
  }
  .glow-white:hover {
    box-shadow: 0 0 20px rgba(251, 249, 250, 0.94);
  }
  
}

